NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:5173
MONGO_URI=mongodb://localhost:27017/pure_milk_bar
JWT_SECRET=pure_milk_bar_super_secret_jwt_key_2026
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=pure_milk_bar_refresh_secret_key_2026
REFRESH_TOKEN_EXPIRES_IN=7d